.show-div {
  margin: 50px 100px;
  background-color: var(--white);
  border-radius: 10px;
  border: solid 1px var(--orange);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.well-details-div {
  display: flex;
  gap: 30px;
  margin: 30px 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.activity-div {
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px var(--orange);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.operation-activity-header {
  display: flex;
  justify-content: space-around;
}

.operation-activity-body {
  padding: 30px;
  border-radius: 10px;
  border: solid 1px var(--orange);
}

.rig-button {
  margin-left: 20px;
}

.production-graph {
  margin-top: 100px;
  margin-right: 100px;
  height: 300px;
  width: 400px;
}

.sum-paragraph {
  margin-top: 80px;
  margin-left: 110px;
  font-size: large;
  font-weight: 700;
  color: var(--green);
}

@media only screen and (max-width: 800px) {
  .show-div {
    margin: 50px 100px;
    background-color: var(--white);
    border-radius: 10px;
    border: solid 1px var(--orange);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }

  .production-graph {
    margin-top: 50px;
    margin-left: 40px;
    height: 300px;
    width: 400px;
  }
}
