.item-list {
  margin: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.item-card {
  width: 100px;
  /* background-color: var(--light-2); */
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-pics {
  width: 100px;
}

.delete-button,
.show-butoon {
  border: none;
  background-color: white;
  margin: 10px;
  border: solid 1px black;
  border-radius: 50%;
  padding: 5px;
}

.delete-button:hover {
  color: brown;
  cursor: pointer;
}

.show-butoon:hover {
  color: var(--green);
  cursor: pointer;
}
