.op-navebar-div {
  /* top: 60px;
  left: 0;
  z-index: 2;
  position: sticky; */
  width: 150px;
  height: auto;
  background-color: var(--green);
}

.logout {
  background-color: var(--light);
  border: none;
  border-radius: 5px;
}
