.allwells-div {
  display: flex;
}

.add-form {
  margin-left: 200px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* align-content: space-between; */
}

.add-new {
  margin-left: 40%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
}

.add-new:hover {
  color: var(--green);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .allwells-div {
    display: flex;
    flex-direction: column;
  }

  .add-new {
    margin-left: 25%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-size: large;
  }
}
