/* Footer.css */
.footer {
  background-color: #050505eb;
  color: #fff;
  padding: 20px 0;
  margin-top: 100px;
  padding: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: large;
}

.footer-social a {
  display: inline-block;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: var(--green);
}

@media only screen and (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-links,
  .footer-social {
    margin-bottom: 20px;
  }

  .footer-links a,
  .footer-social a {
    display: block;
    margin: 10px 0;
  }
}
