body {
  margin: 0;
  padding: 0;
  /* font-family: "Lugrasimo", cursive; */
}

:root {
  --white: #ffffff;
  --light: #ffffec;
  --light-2: #f1e4c3;
  --orange: #c6a969;
  --green: #597e52;
  --text-light: #968c84;
  --text-dark: #615954;
}
